<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

 <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>aiss.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  
  <!-- Welcome page -->
  <welcome-file-list>
    <welcome-file>searchView.html</welcome-file>
  </welcome-file-list>
  
  	<!-- Error page -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errorView.jsp</location>
	</error-page>
	
	<!-- FoursquarePost Servlet -->
	
 <servlet>
    <description></description>
    <display-name>FoursquareAuthController</display-name>
    <servlet-name>FoursquareAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
    	<param-name>provider</param-name>
    	<param-value>Foursquare</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoursquareAuthController</servlet-name>
    <url-pattern>/AuthController/Foursquare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoursquareOAuth2Callback</display-name>
    <servlet-name>FoursquareOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
    	<param-name>provider</param-name>
    	<param-value>Foursquare</param-value>
    </init-param>
    <init-param>
    	<param-name>onSuccess</param-name>
    	<param-value>close/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoursquareOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Foursquare</url-pattern>
  </servlet-mapping>
  <!--Post-->
  <servlet>        
    <servlet-name>FoursquarePost</servlet-name>
  	<servlet-class>aiss.controller.FoursquarePostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoursquarePost</servlet-name>
     <url-pattern>/foursquarePost</url-pattern>
  </servlet-mapping>

</web-app>